*{
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    font-family:'overpass Mono';
    text-decoration: none;
}


/* AREA DO CABEÇALHO*/  

header{
    position:fixed;
    width: 100%;
    background-color: #185f39;
}
.containerCabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}
.logo a img{
    width: 200px;
}

.menu {
    height: 150px;
}
.menu ul {
    height: 150px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.menu a{
    text-decoration: none;
    font-size: large;
    padding: 20px 40px;
    margin:0px 5px;
    border-radius: 5%;
    display: block;
    
}
.menu a:hover{
    background-color: #0b4e2a;
    box-shadow: 3px 3px 3px 3px black;
    text-shadow: 3px 3px 3px  black;
    font-size: large;    
}
.botaoDoacao a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    padding: 20px 30px;
    color: black;
    text-decoration: none;
    background-color: rgb(235, 161, 64);
    margin-right: 30px;
    border-radius: 10px;
    display: flex;
}
.botaoDoacao a:hover{
    font-size: x-large;
    border: 1px solid rgb(255, 255, 255);
    
}    
   


/* AREA DO CONTEUDO*/

main {
    padding-top: 150px;
    height: 500px;
    background-color: rgb(191, 221, 194);
}

#container_form{
    background-color: white;
    border-radius: 10px;
    padding: 65px;  
    align-items: center;
    color: black;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 0.5%;
}

.form{
    color: black;
    outline: unset;
}


.title{
    color: black
}

input[type=number]::-webkit-inner-spin-button,

.input{
    min-width: 600px;
    border-radius: 22px;
    border: 2px solid black;
    padding: 5px;
    margin: 0px 0px 12px -5px;
}

.input input{
    width: 100%;
    border: none;
    outline: none;
    transform: translateY(-10%);
    color: #0b4e2a;
    font-size: 11pt;
}

#botao{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

#botao button{
    background-color: #185f39;
    color: #fff;
    width: 100%;
    height: 40px;
    border: none;
    font: 1.2em;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#botao button:hover{
    background-color: #0d522d;
}

/*AREA DO RODA PÉ*/

footer{
    min-height: 300px;  
    width: 100%;
    background-color: #0b4e2a;
}

.containerRodape{
    padding-top: 30px;
}

.containerLMC{
    display: flex;
    justify-content: space-around;
}

.logo_rodape a img{
    width: 200px;
}

.menu_rodape{
    height: 150px;
}

.menu_rodape ul, .contatosRodaPe ul{
    list-style: none;
}

.menu_rodape li, .contatosRodaPe li{
font-family:'overpass Mono';
padding-top: 20px;
}

.menu_rodape a:hover{
    color:rgb(165, 165, 165)

}

.contatosRodaPe li{
    width: 500px;
}

.ConteudoLogoRodaPe{
    width: 300px;
}
.containerTxtBotao{
    display: flex;
    justify-content: space-between;
    padding: 30px 100px;
    
}

.RazaoSocial-RodaPe{
    display: flex;
    justify-content: center;
}