*{
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
}


/* AREA DO CABEÇALHO*/  

header{
    position:fixed;
    width: 100%;
    background-color: #185f39;
}
.containerCabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a img{
    width: 250px;
}

.menu {
    height: 150px;
}
.menu ul {
    height: 150px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.menu a{
    text-decoration: none;
    padding: 20px 40px;
    margin:0px 5px;
    border-radius: 5%;
    display: block;
}
.menu a:hover{
    background-color: #0b4e2a;
    box-shadow: 3px 3px 3px 3px black;
    text-shadow: 3px 3px 3px  black;
    font-size: large;    
}


<<<<<<< HEAD
.botaoDoacao a{
    width: 30px;
    height: 20px;
    color: white;
    text-decoration: none;
    background-color: red;
    font-weight: bold;
    
}
=======
>>>>>>> parent of 652a162 (1.5.1)

/* AREA DO CONTEUDO*/

main {
    padding-top: 150px;
    height: 500px;
    background-color: #619b7b;
}



/*AREA DO RODA PÉ*/

footer{
    height: 300px;  
    background-color: #0b4e2a;
}