*{
    margin: 0px;
    padding: 0px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


/* AREA DO CABEÇALHO*/  

header{
    position:fixed;
    width: 100%;
    background-color: #185f39;
}
.containerCabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
}
.logo a img{
    width: 200px;
}

.menu {
    height: 150px;
}
.menu ul {
    height: 150px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.menu a{
    text-decoration: none;
    font-size: large;
    padding: 20px 40px;
    margin:0px 5px;
    border-radius: 5%;
    display: block;
    
}
.menu a:hover{
    background-color: #0b4e2a;
    box-shadow: 3px 3px 3px 3px black;
    text-shadow: 3px 3px 3px  black;
    font-size: large;    
}
.botaoDoacao a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    padding: 20px 30px;
    color: black;
    text-decoration: none;
    background-color: rgb(235, 161, 64);
    margin-right: 30px;
    border-radius: 10px;
    display: flex;
}
.botaoDoacao a:hover{
    font-size: x-large;
    
}    
   


/* AREA DO CONTEUDO*/

main {
    padding-top: 200px;
    max-width: 100%;
    min-height: 500px;
    /*background-color: rgb(191, 221, 194);   caso voltar ao antigo background só colocar essa linha de codigo*/
    background: linear-gradient(rgb(196, 219, 198), #578A6A, #0b4e2a );
}

.containerInicio{
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: space-around;
}

.textoInicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.textoInicio h1{
    font-size: 100px;
    font-weight: 900;
    text-shadow: black 3px 3px 5px;
}
.textoInicio p{
    font-weight: 500;
    font-size: 30px;
    text-shadow: rgb(61, 61, 61) 2px 2px 2px;
}
.imagemInicio{
    display: flex;
}
.imagemInicio img{
    border-radius: 30px;
    padding: 10px;
    width: 700px;
}



/*AREA DO RODA PÉ*/

footer{
    min-height: 300px; 
    width:100%; 
    background-color: #0b4e2a;
}

.logo_rodape a img{
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu_rodape{
    height: 150px;
}
